* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFD9FF;
    height: 100%;
    width: 100vw;
    font-family: 'Baskervville', serif;
    /* padding: 20px 20px 0 20px; */
}

.artdirector-body {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 200px;
    height: 300px;
    top: 50%;
    right: 0;
    overflow: hidden;
    /* background-color: aquamarine; */
    z-index: 50;
    animation-name: art-move; 
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 3s;
}

.artdirector {
    position: relative;
    left: 10px;
    display: flex;
    align-content: center;

    font-size: 1.5rem;

    z-index: 10;
    animation-name: art-rotate; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 3s;
    
}

.art {
    margin-right: 20px;
}

.director {
    margin-top: 6px;
    rotate: 180deg;
}

@keyframes art-rotate {
    50% {
        rotate: 180deg;
    }
    to {      
        rotate: 360deg;
    }
}

@keyframes art-move {
    0% {      
        transform: translate(0px);
    }
    25% {
        scale: 150%;      
        transform: translate(-200px, -300px);
    }
    50% {      
        transform: translate(-100px, 100px);
    }
    75% {
        scale: 75%;      
        transform: translate(50px, 200px);
    }
    100% {      
        transform: translate(0px);
    }
}



.section-home {
    position: relative;

    /* Use below when designing */
    height: 100vh;

    /* Use below when deploying */
    /* height: 100svh; */

    width: 100%;
    display: grid;
    grid-template-areas: 
    "t t t t t"
    "c c c c c"
    "b b b b b"  ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 20px repeat(2, 1fr);
    padding: 20px 20px 0 20px;
}

/* .section-two {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: aqua;
} */

.nav {
    grid-area: t;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-size: 1.2rem;

    /* background-color: aquamarine; */
}

.nav ul {
    margin-left: 15px;
}

.krv-container {
    grid-area: c;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3.5rem;
    line-height: 3.5rem;
    /* background-color: bisque; */
}

.artwork-container {
    grid-area: b;
    display: grid;
    align-items: flex-end;
}

.artwork-container img {
    width: 110%;
    max-width: 800px;
    justify-self: center;
    align-self: end;
}

.artwork-flower, .leg2 {
    animation: flower-anim 3s ease-out;
}

@keyframes flower-anim {
    from {
        rotate: 45deg;
        transform: translate(100px, 200px);
    }
}

.leg1 {
    animation: leg-anim 3s ease-in;
}

@keyframes leg-anim {
    0% {
        rotate: 45deg;
        transform: translate(50px, 500px);
    }
    75% {
        rotate: 45deg;
        transform: translate(50px, 500px);
    }
    100% {
        rotate: 0deg;
        transform: translate(0px, 0px);
    }

}