* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFD9FF;
    height: 100%;
    width: 100vw;
    font-family: 'Baskervville', serif;
    /* padding: 20px 20px 0 20px; */
}

.artdirector-body {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 200px;
    height: 300px;
    top: 50%;
    right: 0;
    overflow: hidden;
    /* background-color: aquamarine; */
    z-index: 50;
    animation-name: art-move, art-bounce; 
    animation-duration: 2s, 5s;
    animation-iteration-count: 1, infinite;
    animation-timing-function: linear;
    animation-delay: 0s, 2s;
}

.artdirector {
    position: relative;
    left: 0px;
    display: flex;
    align-content: center;

    font-size: 1.5rem;
    color: #b85a7e;

    z-index: 10;

    animation-name: art-rotate; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 2s;
    
}

.art {
    margin-right: 20px;
}

.director {
    margin-top: 6px;
    rotate: 180deg;
}

@keyframes art-move {
    from{
        right: -200px;
    }
}

@keyframes art-rotate {
    50% {
        rotate: 180deg;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes art-bounce {
    0% {      
        transform: translate(0px);
    }
    25% {
        scale: 150%;      
        transform: translate(-200px, -300px);
    }
    50% {      
        transform: translate(-100px, 100px);
    }
    75% {
        scale: 75%;      
        transform: translate(50px, 200px);
    }
    100% {      
        transform: translate(0px);
    }
}



.section-home {
    position: relative;

    /* Use below when designing */
    /* height: 100vh; */

    /* Use below when deploying */
    height: 100svh;

    width: 100%;
    display: grid;
    grid-template-areas: 
    "t t t t t"
    "c c c c c"
    "b b b b b"  ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 20px repeat(2, 1fr);
    padding: 20px 20px 0 20px;
}

/* .section-two {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: aqua;
} */

.nav {
    grid-area: t;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-size: 1.2rem;
    color: #b831aa;

    animation-name: nav-anim;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: both;


    /* background-color: aquamarine; */
}

.nav ul {
    margin-left: 15px;
}

@keyframes nav-anim {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.krv-container {
    grid-area: c;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: #251c64;
    /* background-color: bisque; */
}

.krv-karl, .krv-rickard, .krv-vestin {
    animation-name: slidein-from-top;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-direction: forwards;
    animation-fill-mode: both;
}

.krv-rickard {
    animation-delay: 0.5s;
}
.krv-vestin {
    animation-delay: 1s;
}

.vestin-v {
    letter-spacing: -0.5rem;
}
.vestin-e {
    letter-spacing: -0.05rem;
}



@keyframes slidein-from-top {
    from {
        transform: translateY(-400px);
    }
}

/* Flower etc below */

.artwork-container {
    grid-area: b;
    display: grid;
    align-items: flex-end;
}

.artwork-container img {
    width: 110%;
    max-width: 800px;
    justify-self: center;
    align-self: end;
}

.leg2 {
    animation: flower-anim 2s ease-out;
    z-index: 10;
}

.artwork-flower {
    animation-name: flower-anim, pulse;
    animation-duration: 2s, 1.5s;
    animation-timing-function: ease-out, ease-in-out;
    animation-delay: 0s, 3s;
    animation-iteration-count: 1, infinite;
    z-index: 20;
}

@keyframes pulse {
    from {
        scale: 1;
    }
    10% {
        rotate: -1deg;
        scale: 0.99;
        transform: skew(-2deg);
    }
    27% {
        scale: 1;
    }
    43% {
        rotate: 2deg;
        scale: 0.99;
        transform: skew(-2deg);

    }
    75% {
        scale: 1;
    }
    90% {
        scale: 0.99;
    }

}

@keyframes flower-anim {
    from {
        rotate: 45deg;
        transform: translate(300px, 500px);
    }
}

.leg1 {
    animation-name: leg-anim, leg-wiggle;
    animation-duration: 2s, 5s;
    animation-timing-function: ease-in, linear;
    animation-delay: 0s, 2s;
    animation-iteration-count: 1, infinite;
    z-index: 0;
}

@keyframes leg-anim {
    0% {
        rotate: 45deg;
        transform: translate(50px, 500px);
    }
    75% {
        rotate: 45deg;
        transform: translate(50px, 500px);
    }
    100% {
        rotate: 0deg;
        transform: translate(0px, 0px);
    }

}

@keyframes leg-wiggle {
    10% {
        rotate: 5deg;
        z-index: 0;
    }
    50% {
        rotate: -3deg;
        z-index: 0;
    }
}
